*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }
:root {
    --primary: #0a227e;
    --secondary: #2ecfe7;
    --main: #e9e8ee;
  }
  body{
    background-color: var(--main);
}
html{
    font-size: calc(15px + 0.390625vw);
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
span{
    font-size: 1rem;
}

/* ----------NavBar--------- */

.container-nav{
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 3;
    align-items: center;
    padding: 20px;
    height: 13vh;
    background-image: url(images/banner.png);
}
.contain-logo{
    text-align: center;
}
.name{
    color: #E8F7EE;
    border-top: 1px solid #E8F7EE;
    border-bottom: 1px solid #E8F7EE;
    font-size: 1.1rem;
    font-style: italic;
}
.business{
    color: #E8F7EE;
    font-size: 0.8rem;
}

/* -----------burger--------- */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger {
    width: 40px;
    height: 4px;
    background: var(--main);
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--main);
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-13px);
  }
  .menu-btn__burger::after {
    transform: translateY(13px);
  }
  /*-----------Animation------------*/
  .menu-btn.open{
    overflow: visible;
  }
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  /* -----------Drop Menu----------- */

  .container-drop{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: var(--primary);
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    background-image: url(images/drop-menu.png);
  }
  .container-drop.open{
    /* padding: 10px; */
    height: 60vh;
  }
  .contain-pages{
    margin: 1rem;
  }
  .container-drop ul{
    list-style: none;
}
.container-drop ul li{
    margin: 0 0 1rem 0;
}
.container-drop a{
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--primary);
}
.container-drop a::before{
    content: '';
    position: absolute;
    width: 85%;
    height: 0.3rem;
    background: var(--main);
    bottom: 0px;
    left: 0px;
}
.contain-links span{
    display: block;
    font-size: 1.3rem;
}
.contain-links button{
    background-color: var(--primary);
    color: var(--main);
    font-size: 0.8rem;
    padding: 5px 15px;
    border-radius: 15px;
    margin: 10px;
}
.contain-links{
    display: flex;
    min-height: 50%;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.contain-links i{
    font-size: 1.4rem;
    margin: 0.5rem 0.6rem;
}
.drop-enquire{
    margin: 0.5rem;
}
.drop-social{
    margin: 0.5rem;
}



  /* -----------Hero----------- */
.container-hero{
    height: 87vh;
    max-width: 100%;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}


/* --------------About------------- */

.container-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 800px;
    /* background-color: #fff;
    border: 3px solid var(--primary);
    border-bottom: 5px solid var(--primary);
    border-right: 5px solid var(--primary);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 6, 0.2);
    border-radius: 1rem; */
}
.about-text{
    max-width: 350px;
    padding: 1rem 0;
}
.about-text p{
    font-size: 1rem;
    text-align: justify;
}
.about-image img{
    width: 100%;
    max-width: 350px;
    border-radius: 1rem;
}

/* --------------Carousel------------ */

section.testimonials{
    height: 100vh;
    width: 100vw;
}
.carousel{
    margin: auto;
    width: 90vw;
    height: 90vh;
    max-height: 400px;
    position: relative;
}
h2.testimonials{
    font-size: 2rem;
    text-align: center;
    color: var(--primary);
}
.slide{
    position: absolute;
    width: 90vw;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    align-items: center;
    border: 2px solid var(--primary);
    border-bottom: 4px solid var(--primary);
    border-right: 3px solid var(--primary);
    border-radius: 1rem;
    background-color: #fff;
    inset: 0;
    opacity: 0;
    transition: 400ms opacity ease-in-out;
    transition-delay: 400ms;
}
.slide-text{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
span{
    text-align: center;
    color: var(--primary);
    font-size: 1.2rem;
    margin: 10px;
}
span.quote{
    font-style: italic;
    margin-top: 40px;
    /* display: block; */
    position: relative;
}
span.quote::before{
    content: open-quote open-quote;
    font-size: 6rem;
    position: absolute;
    top: -50px;
    left: 40%;
}
.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide > img{
    display: block;
    border-radius: 1rem;
    margin: 0.5rem;
    width: 90%;
    max-width: 400px;
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
}
.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}
.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}
.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}
.carousel-button:focus{
    outline: 1px solid black;
}
.carousel-button.prev{
    left: 1rem;
}
.carousel-button.next{
    right: 1rem;
}

/* -----------Contain----------- */
.contain{
    margin: 40px;
}

/* ----------Footer---------- */
footer{
    /* background-color: #051342; */
    background-image: url(images/banner.png);
}
.container-foot{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    border-bottom: 1px solid #E8F7EE;
}
.container-foot h3{
    font-size: 1em;
    color: #E8F7EE;
}
.container-foot a{
    font-size: 0.7em;
    color: #E8F7EE;
    text-decoration: none;
}
.container-foot ul{
    list-style: none;
}
.container-foot p{
    font-size: 0.7em;
    color: #E8F7EE;
}
.container-foot .row-about{
    max-width: 400px;
}
.container-copyright{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}
.container-copyright .row-copy p{
    font-size: 0.9em;
    margin: 5px 5px;
    color: #E8F7EE;
}
.container-copyright .row-icons i{
    font-size: 0.9em;
    color: #E8F7EE;
    margin: 10px 5px;
}


@media only screen and (max-width: 700px){
    .slide{
        flex-wrap: wrap;
    }
    .carousel{
        max-height: 90vh;
    }
    .slide > img{
        max-height: 50%;
    }
}


@media only screen and (max-width: 600px){
    .container-drop.open{
        height: 87vh;
    }
    .container-drop{
        text-align: center;
    }
    .container-drop a::before{
        width: 100%;
    }
    .container-drop.open{
        width: 100vw;
        text-align: center;
    }
    .container-drop a{
        font-size: 1.5rem;
    }
    .contain-links{
        justify-content: flex-start;
    }
}
